@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'all-round-gothic';
    src: url(/MedSinal/frontend/public/assets/fonts/all-round-gothic-bold.otf) format('opentype');
}

:root {
    --cor-primaria: #F1E5CF;
    --cor-secundaria: #107859;
    --cor-terciaria: #F1EBE0;
    --cor-marrom: #744739;
    --cor-vermelho: #C1122E;
    --fonte-primaria: 'all-round-gothic';
    --fonte-secundaria: "Libre Franklin", sans-serif;
}

.fundo-header {
    position: relative;
    width: 100%;
    height: 100vh;
}

.fundo-header img:first-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.botao-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 3.5%;
}

.container-map {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    background-color: var(--cor-secundaria);
}

#map {
      width: 70%;
      height: 500px;
    }

footer {
    background-color: var(--cor-secundaria);
    position: relative;
    text-align: center;
}

footer img {
    width: 100%;
}